:root{
    --pri: #091413;
    --sec: #285A48;
    --tri: #408A71;
    --frh: #B0E4CC;
    --fth: #fff;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: aeonik;
    src: url(./AeonikTRIAL-Bold.otf);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    height: 100%;
    font-family: aeonik;
    font-weight: 500;
    background-color: var(--pri);
    color: var(--fth);
}

nav{
    width: 100%;
    height: 60px;
    background-color: var(--tri);
}

section.allElems{
    width: 100%;
    height: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
}

.elem{
    /* background-color: rgb(197, 134, 8); */
    height: 260px;
    width: 180px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.elem h2{
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-weight: 500;
    font-size: 30px;
}

.elem:active{
    scale: 0.97;
}

.fullElems{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 40px;
    font-size: 60px;
    display: none;
    position: absolute;
}

.back{
    position: absolute;
    right: 5%;
    background-color: var(--pri);
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    color: var(--fth);
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.back:active{
    scale: 0.9;
}


.todo-list-fullpage h2{
    font-size: 50px;
}

.todo-list-fullpage .todo-container{
    height: 85%;
    width: 100%;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask{
    height: 100%;
    width: 30%;
    border-radius: 20px;
     background-color: var(--tri);
}


.todo-list-fullpage .todo-container .addTask form{
    padding: 30px;
}

.todo-list-fullpage .todo-container .addTask form input{
    padding: 15px 25px;
    width: 100%;
    font-size: 28px;
    background-color: var(--sec);
    outline: none;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}
.todo-list-fullpage .todo-container .addTask form textarea{
    padding: 15px 25px;
    width: 100%;
    font-size: 28px;
    background-color: var(--sec);
    outline: none;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}
.todo-list-fullpage .todo-container .addTask form button{
    padding: 15px 25px;
    width: 100%;
    font-size: 28px;
    background-color: var(--frh);
    font-weight: 700;
    outline: none;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    transform: all ease 0.3s;
}

.todo-list-fullpage .todo-container .addTask form button:active{
    scale: 0.95;
}

.todo-list-fullpage .todo-container .allTask{
    height: 100%;
    width: 65%;
    border-radius: 20px;
     background-color: var(--tri);
     padding: 30px;
     overflow: auto;
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--pri);
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.task h5{
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.task details{
    font-size: 18px;
}

.task h5 span{
    background-color: red;
    color: white;
    padding: 4px 6px;
    border-radius: 20px;
    font-size: 11px;
}

.task h5 span .true{
    opacity: 1;
}

.task h5 span .false{
    opacity: 0;
    display: none;
}

.task button{
    padding: 15px 20px;
    background-color: green;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
    gap: 10px;
}
.mark-imp input{
    scale: 1.7;
    font-size: 16px;
}

.mark-imp label{
    font-size: 20px;
}

.daily-planner-fullpage{
    /* display: block; */
}

.daily-planner-fullpage h2{
    font-size: 38px;
}

.daily-planner-fullpage .day-planner{
    background-color: var(--tri);
    height: 85%;
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: auto;
    justify-content: space-between;
}

.daily-planner-fullpage .day-planner .day-planner-time{
    /* background-color: var(--pri); */
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 15px;
}

.day-planner .day-planner-time p{
    position: absolute;
    top: 5%;
    left: 1%;
    font-size: 18px;
}

.day-planner .day-planner-time input{
    padding: 20px 40px;
    width: 100%;
    background-color: var(--sec);
    border: none;
    border-radius: 5px;
    outline: none;
    padding-top: 30px;
    font-size: 32px;
}